@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* /リセット*/

div,
dl,
dt,
dd,
p,
ul,
li,
ol,
header,
nav,
footer,
section,
article,
address {
  box-sizing: border-box;
  position: relative;
}

/*共通*/
html {
  font-size: 1.67vw;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  color:#000;
  font-weight: 500;
}
.fadein {
  opacity : 0;
  transform: translateY(2rem);
  transition: all 1s;
}
.pc {
  display: none;
}


/*一覧ページ*/
.motherwrap{
  padding: 0 4rem;
}

header{
  margin-top: 5rem;
}
.header-logo{
  width:23.6rem;
}
.header-logo img{
  width: 100%;
  height:auto;
}
.header-h1{
  font-size: 3.6rem;
  font-weight: 900;
  text-align: center;
  margin-top: 17.5rem;
}
.header-p1{
  width:24rem;
  margin: 2.8rem auto 0 auto;
}
.header-p1 img{
  width:100%;
  height: auto;
}
.header-p2{
  margin-top: 2.8rem;
  font-size: 2.25rem;
  line-height: 3.6rem;
  font-weight: 500;
  text-align: left;
}
.header-p2 span {
}
.header_nav{
  margin-top: 5rem;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}
.header_nav ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header_nav ul li{
  width:33.3%;
  font-size:1.4rem;
  line-height: 1;
  font-weight: 500;
}
.header_nav ul li a{
  display: block;
  padding: 2rem 0 2rem 4.5rem;
  text-decoration: none;
  color:#000;
  background-image:url("../img/nav_arrow.svg");
  background-repeat: no-repeat;
  background-size:1rem 0.5rem;
  background-position:11.8rem 2.5rem;
}

/*メインリスト*/
.main-list{
  margin-top: 4rem;
}
.main-list ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-list__item{
  width: 24rem;
  margin-bottom: 4.2rem;
}
.main-list__item a{
  color:#000;
  text-decoration: none;
}
.main-list__item__photo{
  width: 24rem;
  height: 24rem;
  position: relative;
}
.main-list__item__photo-1{
  width: 100%;
  height: auto;
}
.main-list__item__number{
  position: absolute;
  top:0;
  left:0;
  width: 5.2rem;
  height:5.2rem;
  z-index: 10;
}
.main-list__item--h2{
  margin-top: 1.6rem;
  font-size: 1.9rem;
  line-height: 3rem;
  font-weight: 900;
  text-align: center;
  text-decoration: underline;
  font-feature-settings: "palt";
}
.main-list__item--p1{
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
}
.main-list__item__photo-number{
  width: 5.3rem;
  height: 5.3rem;
  position: absolute;
  top:0;
  left:0;
}
.main-list__item--p2{
  margin-top: 0.6rem;
  font-size: 1.7rem;
  line-height: 1.4;
  font-weight: 900;
  text-align: center;
}

footer{
  height:14rem;
  padding-top:5rem;
}
.footer-logo{
  width: 24rem;
  margin: 0 auto;
}
.footer-logo img{
  width:100%;
  height:auto;
}

/*個別ページ*/
