@charset "UTF-8";

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* /リセット*/

div,
dl,
dt,
dd,
p,
ul,
li,
ol,
header,
nav,
footer,
section,
article,
address {
  box-sizing: border-box;
  position: relative;
}


/*共通*/
html {
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
    color:#000;
    font-weight: 500;
    font-size: 2.666vw;
}

.pc{
  display:none;
}
/*.fadein {
  opacity : 0;
  transform: translateY(26px);
  transition: all 1.6s;
}*/

body{
  background-color: #edf0f5;
}

.main-content{
  width:100vw;
  margin:0;
  overflow: hidden;
  scroll-snap-type: y mandatory;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;

}
.header_logo{
  padding-top: 2rem;
  width:16rem;
  height:auto;
  margin: 0 auto 0 auto ;
}
.header_logo img{
  width: 100%;
  height: auto;
}
.illustrationBox{
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  height: 100%;
  width: 100%;
}
.illustrationTitle{
  position: absolute;
  top:0;
  left:0;
  text-indent: -300%;
  white-space: nowrap;
  overflow: hidden;
}
.illustrationBox--first{
  width:100vw;
  height:133.33vw;
}
.illustrationBox--small{
  width:94.66vw;
  height:66.97vw;
  margin:1rem;
}
.illustrationBox:nth-of-type(1){
  background-image: url(../img/sp/img_1.jpg);
}
.illustrationBox:nth-of-type(2){
  background-image: url(../img/sp/img_2.jpg);
}
.illustrationBox:nth-of-type(3){
  background-image: url(../img/sp/img_3.jpg);
}
.illustrationBox:nth-of-type(4){
  background-image: url(../img/sp/img_4.jpg);
}
.illustrationBox:nth-of-type(5){
  background-image: url(../img/sp/img_5.jpg);
}
.illustrationBox:nth-of-type(6){
  background-image: url(../img/sp/img_6.jpg);
}
.illustrationBox:nth-of-type(7){
  background-image: url(../img/sp/img_7.jpg);
}
.illustrationBox:nth-of-type(8){
  background-image: url(../img/sp/img_8.jpg);
}
.illustrationBox:nth-of-type(9){
  background-image: url(../img/sp/img_9.jpg);
}
.illustrationBox:nth-of-type(10){
  background-image: url(../img/sp/img_10.jpg);
}
.illustrationBox:nth-of-type(11){
  background-image: url(../img/sp/img_11.jpg);
}

footer{
width:100%;
background-color: #fff;
padding: 40px 0;
margin-top: 3rem;
}

.fotter-branding{
  width:31rem;
  margin: 0 auto;
}
.footer_logo{
  width:31rem;
}
.footer_logo img{
  width: 100%;
  height: auto;
}
.fotter-branding__title{
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 4.2rem;
}
.fotter-branding__text{
  font-size: 1.5rem;
  line-height: 2;
  font-weight: bold;
  margin-top: 3rem;
  letter-spacing:0.08em;
  display: flex;
  flex-direction: column;
}

.footer-nav{
  width:100vw;
  margin-top: 4rem;
  background-color: #F4F2ED;
  padding: 4rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
}
.footer-nav__list{
  margin-bottom: 4.5rem;
}
.footer-nav__list dt{
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing:0.24em;
  font-weight: bold;
  height: 3.1rem;
}
.footer-nav__list dt::before{
  content:"";
  height:0.3rem;
  width: calc(100% - 0.24em);
  background-color: #000;
  margin-right: 0.24em;
  position: absolute;
  bottom:0;
  left:0;
}
.footer-nav__list dd{
  font-size:1.3rem;
  line-height: 1.2;
}
.footer-nav__list dd:first-of-type{
  margin-top: 3rem;
}
.footer-nav__list dd:nth-of-type(n + 2){
  margin-top: 2.4rem;
}
.footer-nav__list dd a{
  color:#000;
  display: inline-block;
  padding: 0.2rem 2.4rem 0.2rem 0;
  position: relative;
  text-decoration: none;
  height: 1.8rem;
  background-image: url(../img/navicon.svg);
  background-size: 1.68rem 1.6rem;
  background-repeat: no-repeat;
  background-position: top 0.1rem right ;
  font-weight: 900;
}
.footer-nav__list dd a:hover{
  text-decoration: underline;
}


.footer-nav__top{
  width:11.8rem;
  height:auto;
  margin: 2rem auto 0 auto;
}
.footer-nav__top img {
  width:100%;
  height:auto;
}
.foote-human-logo{
  width:33.4rem;
  height:auto;
  margin: 5rem auto 0 auto;
}
.foote-human-logo img{
  width:100%;
  height: auto;
}
.footer-copyright{
  width:276px;
  margin: 6rem auto 0 auto;
}
.footer-copyright img{
  width: 100%;
  height: auto;
}